.starry-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Ajuste conforme necessário */
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1; /* Garante que o conteúdo esteja na frente */
    box-shadow: #000 0 0 20px 5px; /* Adiciona uma borda ao redor do conteúdo */
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png');
    background-size: auto;
    background-repeat: repeat;
    animation: stars 100s linear infinite;
    z-index: -1; /* Garante que o fundo esteja atrás */
    filter: invert(1) brightness(2); /* Altera a cor das estrelas para #ffffff */
  }

  .title {
    margin-top: 10px;
    font-size: 36px;
    color: #000;
    margin-bottom: 20px;
    z-index: 2; /* Garante que o texto esteja na frente */
    font-weight: bold;
  }





@keyframes stars {
  from { background-position: 0 0; }
  to { background-position: 2000px 2000px; }
}

