.header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 60px);
    height: 60px;
    padding: 20px 30px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    margin-right: auto;
}

.navbar {
    margin-left: auto;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-left: 20px; 
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: transparent;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
    background: #fff;
}

.imgn {
    display: block;
}
