*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body.login {
    background: url(https://cdn.leonardo.ai/users/0ee5764b-8b4d-4c04-83f5-c49d36c3e794/generations/54a4e505-fe67-4e1f-bd71-b3b2233630ef/Leonardo_Phoenix_Depict_a_meticulously_organized_and_spotless_3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -3;
  }

.container{
    width: 300px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
}

.form{
    width: 300px;;
}

h1{
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.input-container{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-container input {
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
border: 2px solid rgba(255, 255, 255, .2);
border-radius: 10px;
font-size: 16px;
color: #fff;
padding: 20px 45px 20px 20px;
}

.input-container input::placeholder{
    color:#fff;
}

.input-container img {
    position: absolute;
    right: 24px;
    top: 20%;
    margin-top: 5px;
}

.input-container a{
    font-size: 16px;
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
}

.input-container a:hover{
    text-decoration: underline;
}

.submit-button{
    width: 100%;
    height: 50px;
    background-color: #222222;
    border: none;
    border-radius:  10px;
    color:#fff;
    font-weight: 500;
    margin-top: 24px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.submit-button:hover{
    background-color: #5e5e5e;
}

.register-link p {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.register-link p a{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.register-link p a:hover{
    text-decoration: underline;

}

.register-link {
    text-align: center;
    margin: 20px 0; 
}
